div.about--block--left
    .middle
        article
            h2#title1 о нас
            p «1000 Советов» - это место, где делятся опытом <br> и знаниями, узнают новое и полезное для себя.
            p Обширные тематики охватывают многочисленные жизненные <br> ситуации, с которыми сталкивается человек каждый день:<br> помощь в замене смесителя на кухне, проблема выбора наряда на праздник, замены средства вырабатывающего ток в авто конкретной модели или правильное выращивание огурцов.
            p Мы следуем принципу предоставлять читателям только информативный и доступный контент, а редакция и эксперты круглосуточно рады помочь Вам советом и ответить на возникшие вопросы.

div.about--block--right