div.author--block--left
    .middle
        h3#txt3-3 1000 советов – это реальная возможность:
        article
            h2#title3 <span>авторам</span>
            ul#txt3
                li Делиться своим опытом с тысячами пользователей
                li Стать популярным экспертом и собрать тысячи подписчиков
                li Продвигать свое имя на вершины рейтингов
                li Зарабатывать на любимом деле
                li Создать собственную творческую студию
        span.comment#txt3-2 Это хорошая возможность раскрыть<br> свой потенциал и стать успешным.<br> Здесь есть место и новичку, и специалисту.
div.author--block--right#image-ani3 