div.brand--block--left
div.brand--block--right
    .middle
        h3 1000 советов позволит брендам:
        article
            h2#title4 брендам
            ul
                li Установить тесный контакт между компанией и клиентами
                li Держать клиентов в курсе последних событий и новинок
                li Давать консультации и советы по своей продукции и услугам
                li Получать отзывы клиентов о своей работе
                li Привлекать новых клиентов и заинтересовать новую аудиторию
        span.comment Это способ быть честными и открытыми<br> со своими клиентами
        