.content
    .middle
        article
            h4 Запишись на бета-тест и стань первым,<br> кто откроет для себя уникальные<br> возможности нашего ресурса.
            form
                div
                    input(placeholder="Имя")
                div
                    input(placeholder="E-mail")
                div.form--button--block
                    a.form--button--send Отправить заявку на тестирвоание
                div
                    p.sign-in Уже в команде бета-тестеров? <a class="">Войдите на сайт.</a>
div.footer
    .content
        .middle
            .block-txt
                .left
                    span 2016 «1000 советов»
                .right
                    a Разрабатывается <i class="real"></i>