div.reader--block--left
div.reader--block--right
    .middle
        article
            h2#title2 Читателю
            ul
                li 50 000 полезных статей на запуске
                li 280 рубрик по 30 тематикам
                li Уникальный опыт наших читателей, экспертов<br> и брендов со всей России и зарубежья
                li Универсальный гид по всем сферам жизни
                li Удобный в использовании электронный портал полезных идей
                li Место, где любой может стать автором и даже экспертом
        span.comment 1000 советов –<br> универсальный помощник для всей семьи