@import "grundfile.less";

section {overflow: hidden;}

.abs {position: absolute; display: table; width: 100%; height: 100%; left: 0px; top: 0px; }
h3 {font-size: 45px; color: @coltxt; font-weight: 700; font-family: @fontB; margin-bottom: 50px; padding: 0 0 0 220px;}
article {padding: 0 220px; float: left; width: 100%; position: relative;
p {font-size: 24px; color: @coltxt; font-weight: 700; margin: 38px 0; line-height: 1.7;}
ul {float: left; width: 100%;
    li {display: block; margin: 30px 0px 30px 55px; font-size: 24px; color: @coltxt; font-weight: 700; float: left; width: 100%; position: relative;}      
    li::before{content: ''; position: absolute; display: block; top:6px; left:-55px; width: 17px; height: 17px; .bgCCC; background: url(../img/dot.png);}  
}
    

}

span.comment {position: relative; font-size: 45px; color: @coltxt; font-family: @fontL; margin: 120px 0 0 0; float: left; width: 100%; padding: 0 0 0 280px;  line-height: 1.3;}
span.comment::before {content: '«'; position: absolute; top:-89px; left:167px; font-weight: 300; font-size: 175px; color: #ececec;  font-family: 'Open Sans', sans-serif;}


// Первый экран
.home {.bgCC; background: url(../img/home.jpg);
.home--block--left {position: relative; float: left; width: 50%; height: 100%; 
.abs {padding-left: 225px;}    
.logo {position: absolute; display: block; left: 225px; top: 75px; width: 186px; height: 89px; .bgCCC; background: url(../img/logo.svg); font-size: 0px;}    
.home--timer--block{position: relative; display: block; margin-left: 120px; 
.cifra {position: relative; font-size: 350px; color: rgb(255, 236, 24); line-height: 0.171; font-family: @fontB; 
background: -webkit-linear-gradient(#fba010, rgb(255, 236, 24)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.cifra-sh { position: absolute; display: block; left: 0px; top: 0px;  font-size: 350px; line-height: 0.171; text-shadow: 0px 11px 32px rgba(0, 0, 0, 0.34); position: absolute;
color: transparent; font-family: @fontB; }  
.week{display: block; font-family: @fontB; font-size: 120px; color: #ffec18;}
.do-to {font-size: 42px; color: #fff; display: block; font-family: @fontL;}  
.soc-ico {position: relative; display: block; float: left; margin-top: 50px;
a {display: inline-block; float: left; width: 40px; height: 40px; .bgCCC; margin-right: 13px; .m-speed;}
a:hover{background-color: #000;}
.face {background: url(../img/face.png)}
.vk {background: url(../img/vk.png)}
.tv {background: url(../img/tv.png)}
    }
}
    
.home--timer--block::before {content: 'осталось'; font-family: @fontB; color: #fff; font-size: 100px; display: block; .pov2;
position: absolute; left: -323px; top:54px;}        
}
    
.home--block--right {position: relative; float: left; width: 50%; height: 100%;
article {float: left; width: 100%; margin-top: -130px; padding: 0px;}
h3 {color: #fff; display: block; font-size: 88px; font-family: @fontB; font-weight: 900; text-transform: uppercase; float:left; width: 100%;}
p {font-family: @fontB; color: #fff; font-size: 55px; margin-top: 147px; float:left; width: 100%;}
.mouse-reed {position: relative; color: @colfirm2; font-family: @fontB; font-size: 20px;  margin: 128px 55px 0; float: left;
i {position: absolute; display: block; height: 98px; width: 47px; .bgCCC; background: url(../img/mouse.png); top: -25px; left: -57px;}}
    
}    

    
nav {position: absolute; display: table; height: 105px; top:0px; right: 0px;
.button {float: right; display: inline-block; font-family: @fontB; color: #fff; font-size: 20px; 
background: @colfirm; padding: 16px 33px 18px; margin-right: 50px; margin-left: 30px; border-radius: 35px; .m-speed;} 
.button:hover {background: #1d5abf; }
}  
  
ul {display: inline-block; float: left;  margin-top: 18px;
li {float: left; 
a { color: #fff; font-family: @fontB; color: #fff; margin-right: 60px; font-size: 20px; .m-speed;}
a:hover {color: @colfirm;}
}
    }

}



// Второй экран
.about {
.about--block--left {position: relative; float: left; width: 50%; height: 100%; display: table; background: #f8f8f8; overflow: hidden; 
h2 {font-size: 90px; text-transform: uppercase; .pov2; color: @coltxt; position: absolute; left:-25px; top:126px; font-weight: 700;}  
}
.about--block--left::before {content: 'О НАС'; position: absolute; display: block; font-size: 382px; color: #f3f3f3; font-family: @fontB; font-weight: 700; left: 0px; top:-199px;
width: 100%; text-align: center;}
.about--block--right {float: left; width: 50%; height: 100%; .bgCC; background: url(../img/about.jpg);}
}
// Третий экран
.reader {
.reader--block--left {float: left; width: 50%; height: 100%; display: table; .bgCC;  background: url(../img/reader.jpg);}
.reader--block--right {position: relative; float: left; width: 50%; height: 100%;  background: #f8f8f8; overflow: hidden;  display: table;}
h2 {font-size: 90px; text-transform: uppercase; .pov2; color: @coltxt; position: absolute; left:-142px; top:220px; font-weight: 700;}  
.reader--block--right::before {content: 'ЧИТАТЕЛ'; position: absolute; display: block; font-size: 382px; color: #f3f3f3; font-family: @fontB; font-weight: 700; left: 0px; top:-199px;
width: 100%; text-align: left;} 
.reader--block--right::after {content: 'АМ'; position: absolute; display: block; font-size: 382px; color: #f3f3f3; font-family: @fontB; font-weight: 700; left: 0px; bottom:-199px;
width: 100%; text-align: left;}   
}
// Четвертый экран
.author {
.author--block--left {position: relative; float: left; width: 50%; height: 100%; display: table; background: #f8f8f8; overflow: hidden;
h2 {font-size: 90px; text-transform: uppercase; .pov2; color: @coltxt; position: absolute; left:-103px; top:127px; font-weight: 700;}  
}
.author--block--left::before {content: 'АВТОРУ'; position: absolute; display: block; font-size: 382px; color: #f3f3f3; font-family: @fontB; font-weight: 700; left: 0px; top:-199px;
width: 100%; text-align: center; margin-left: 27px;}
.author--block--right {float: left; width: 50%; height: 100%; .bgCC; background: url(../img/author.jpg);}
}
// Пятый экран
.brand {
.brand--block--left {float: left; width: 50%; height: 100%; .bgCC;  background: url(../img/brand.jpg);}
.brand--block--right {float: left; width: 50%; height: 100%; display: table;  background: #f8f8f8; position: relative;
h2 {font-size: 90px; text-transform: uppercase; .pov2; color: @coltxt; position: absolute; left:-110px; top:220px; font-weight: 700;}   
}
.brand--block--right::before {content: 'БРЕНДАМ'; position: absolute; display: block; font-size: 382px; color: #f3f3f3; font-family: @fontB; font-weight: 700; left: 0px; top:-199px;
width: 100%; text-align: left;}     
}


// Шестой экран

.socials {.bgCC;  background: url(../img/social.jpg);
    
    
}

footer {.bgCC;  background: url(../img/footer.jpg); 
    
    
}


