doctype html

html
    head
        include include/head.jade
    body
        div.wrapper#fullpage
            // первый экран 13
            section(class="section home", id="section0")
                div.home--block--left
                    div.abs
                        div.middle
                            div.home--timer--block.ani-timer#timer
                                span.cifra-sh 20
                                span.cifra 20
                                span.week недель
                                span.do-to до запуска проекта
                                div.soc-ico
                                    a.face
                                    a.vk
                                    a.tv
                                
                    h1.logo#logo 1000 советов
                div.home--block--right
                    div.abs
                        div.middle
                            article
                                h3#hello Привет! <br> Давайте знакомиться!
                                p#hello-d Мы команда портала 1000 советов, и собрались вместе для того, чтобы сделать Вашу жизнь проще и интереснее.
                                a.mouse-reed#hello-scr(href="#about-info") <i></i> Узнать больше
                nav#nav1
                    .nav-block
                        div.middle
                            a.button Войти и протестировать
                            ul.topmenu
                                li: a(href="#about-info") О нас
                                li: a(href="#about-info") Читателю
                                li: a(href="#about-info") Авторам
                                li: a(href="#about-info") Брендам
                                li: a(href="#about-info") Социальная миссия

      
            
            
            
            
            
            
            section(class="section about", id="section1")
                include include/about.jade
            section(class="section reader", id="section2")
                include include/reader.jade
            section(class="section author", id="section3")
                include include/author.jade           
            section(class="section brand", id="section4")
                include include/brand.jade
            section(class="section socials", id="section5")
                include include/social.jade
            footer(class="section", id="section6")
                include include/footer.jade
                     
                    
                    

            
       