doctype html

html
    head
        include include/head.jade
    body
        .nav-fixed#fixed
            a.logo-fix
            span.cifra-sh 19
            span.cifra 19 
            span.cifra-d недель
            .nav-block
                div.middle
                    a.button(href="#contact-info") Войти и протестировать
                    ul.topmenu
                        li: a(href="#about-info", id="nav1") О нас
                        li: a(href="#reader-info", id="nav2") Читателю
                        li: a(href="#author-info", id="nav3") Авторам
                        li: a(href="#brand-info", id="nav4") Брендам
                        li: a(href="#social-info", id="nav5") Социальная миссия
        div.wrapper#fullpage
            // первый экран 1
            section(class="section home", id="section0")
                div.home--block--left
                    div.abs
                        div.middle
                            div.home--timer--block.ani-timer#timer
                                span.cifra-sh 19
                                span.cifra 19
                                span.week недель
                                span.do-to до запуска проекта
                                div.soc-ico
                                    a.face
                                    a.vk
                                    a.tv
                                
                    h1.logo#logo 1000 советов
                div.home--block--right
                    div.abs
                        div.middle
                            article
                                h3#hello Привет! <br> Давайте знакомиться!
                                p#hello-d Мы команда портала 1000 советов,<br> и собрались вместе для того, чтобы<br> сделать Вашу жизнь проще и интереснее.
                                a.mouse-reed#hello-scr(href="#about-info") <i></i> Узнать больше
                nav#navigate1
                    .nav-block
                        div.middle
                            a.button(href="#contact-info") Войти и протестировать
                            ul.topmenu
                                li: a(href="#about-info") О нас
                                li: a(href="#reader-info") Читателю
                                li: a(href="#author-info") Авторам
                                li: a(href="#brand-info") Брендам
                                li: a(href="#social-info") Социальная миссия

      
            
            
            
            
            
            
            section(class="section about", id="section1")
                include include/about.jade
            section(class="section reader", id="section2")
                include include/reader.jade
            section(class="section author", id="section3")
                include include/author.jade           
            section(class="section brand", id="section4")
                include include/brand.jade
            section(class="section socials", id="section5")
                div.sl5#image-ani5
                    include include/social.jade
            footer(class="section", id="section6")
                div.sl6#image-ani6
                    include include/footer.jade
                     
                    
                    

            
       